#### Importation

In [3]:
import os
import pyodbc
from dotenv import load_dotenv, dotenv_values, find_dotenv
import pandas as pd

print('all libraries loaded successfully')

all libraries loaded successfully

#### Database Connection

In [2]:
#reading data from database
#Load environment variables from .env file into a dictionary variable
#.env file MUST be in the same root as the notebook to work or alternatively use find_dotenv
environment_variables=dotenv_values(find_dotenv('.env'))
# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DB_NAME")
server = environment_variables.get("SERVER_NAME")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

#Connecting to the database
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# Using the connect method of the pyodbc library.
# This will connect to the server. 
connection=pyodbc.connect(connection_string)

print("connected successfully")

connected successfully

In [7]:
#reading data from the remote database table
query='''SELECT * 
        FROM dbo.LP2_Telco_churn_first_3000'''
        
df1=pd.read_sql(query,connection)

df1

C:\Users\Harith\AppData\Local\Temp\ipykernel_24552\2244681030.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql(query,connection)

DatabaseError: Execution failed on sql: SELECT *
        FROM dbo.LP2_Telco_churn_first_3000
('08S01', '[08S01] [Microsoft][ODBC SQL Server Driver]Communication link failure (0) (SQLExecDirectW)')
unable to rollback

In [ ]:
#reading data from github
df2 = pd.read_csv('https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP2-Classifcation/main/LP2_Telco-churn-second-2000.csv')

df2

In [ ]:
#combining both datasets and exporting as train data
data =[df1, df2]
train_df = pd.concat(data, ignore_index=True)

#writing to csv
train_df.to_csv('../Datasets/train_data.csv')

Writing out the csv for offline usage and reproducibility