# **CAREER ACCELERATOR PROJECT 2**

### **A MACHINE LEARNING, BINARY CLASSIFICATION PROJECT**

## **1. BUSINESS UNDERSTANDING**

### **Project Overview:**
The goal of this data project is to create a machine learning model that predicts customer churn for Vodafone Group. Customer churn refers to the phenomenon where customers stop using a service or product. In the context of Vodafone, it means customers leaving their mobile or telecom services.

### **Business Context:**
Vodafone Group is a global telecommunications company with millions of customers worldwide. Retaining existing customers is crucial for their business success. By predicting customer churn, Vodafone can take proactive measures to retain high-risk customers and improve overall customer satisfaction.

### **Why is predicting churn important?**
Churn prediction helps Vodafone identify customers who are likely to leave the service. By addressing their concerns or offering incentives, Vodafone can reduce churn rates and improve customer retention.

### **What data is available?**
Vodafone has access to historical customer data, including demographics, usage patterns, billing information, customer service interactions, and more.

### **Relevant features may include:**
1. Customer demographics (age, gender, location)
2. Usage metrics (call duration, data usage, SMS count)
3. Billing information (monthly charges, contract type)
4. Customer service interactions (complaints, inquiries)

### **What are the business objectives?**
1. Reduce customer churn by identifying high-risk customers early.
2. Optimize marketing efforts by targeting specific customer segments.
3. Improve customer satisfaction and loyalty.

### **How will the model be used?**
The churn prediction model will be integrated into Vodafone’s customer management system.
It will generate alerts for high-risk customers, allowing customer service representatives to take proactive actions (e.g., personalized offers, retention campaigns).

### **What are the success criteria?**
The success of the project will be evaluated based on:
* Model accuracy (correctly predicting churn)

### **Approach:**
1. Data Collection and Exploration:
    * Gather historical customer data from various sources.
    * Explore the data to understand its quality, completeness, and relevance.
2. Feature Engineering:
    * Create relevant features from the available data.
    * Examples: churn history, customer tenure, usage patterns, billing metrics.
3. Model Selection:
    * Choose appropriate machine learning algorithms (e.g., logistic regression, random forests).
    * Evaluate models based on performance metrics (accuracy, precision, recall).
4. Model Training and Validation:
    * Split the data to train and test data
    * Train the model on historical data.
    * Validate the model’s performance using unseen data.

### **Hypotheses:**
1. `Null Hypothesis (H0)`: Customer tenure does not significantly impact churn.\
    `Alternative Hypothesis (H1)`: Customer tenure significantly affects churn.

2. `Null Hypothesis (H0)`: Service reliability has no effect on churn.\
    `Alternative Hypothesis (H1)`: Service reliability influences churn.

3. `Null Hypothesis (H0)`: Billing and payment is unrelated to churn.\
    `Alternative Hypothesis (H1)`: Billing and payment matters in predicting churn.

### **Analytical Questions:**
1. How does the distribution of tenure differ between churned and retained customers?
2. How does the presence of online security, backup, and tech support affect churn?
3. Is there a correlation between churn and specific internet service types (e.g., fiber vs. DSL)?
4. How do different payment methods (e.g., electronic check, credit card) correlate with churn?
5. Is there a relationship between monthly charges/total charges and churn?
6. What are the average tenure and payment values for churned and retained customers?

### **Conclusion:**
Predicting customer churn is essential for Vodafone’s business strategy. By leveraging machine learning, Vodafone can proactively address customer needs, reduce churn rates, and enhance overall customer satisfaction.

## **2. DATA UNDERSTANDING**

#### Importation

In [280]:
# import all necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


#remove pandas display limits
pd.set_option('display.max_columns', None)

#hide warnings
import warnings

warnings.filterwarnings('ignore')


#confrimation all libraries loaded
print("all libraries loaded successfully")

all libraries loaded successfully

In [281]:
#reading training dataset
train = pd.read_csv('../Datasets/train_data.csv')
train

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000381469727,False
1,1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.1500015258789,True
3,3,7795-CFOCW,Male,0,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,4,9237-HQITU,Female,0,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.64999389648438,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,5038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
5039,5039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
5040,5040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
5041,5041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
5042,5042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

In [282]:
#drop unnamed 0 column
#it is a repetition of the index column
train = train.drop(columns='Unnamed: 0')
train

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,True,False,1,False,NaN,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000381469727,False
1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.1500015258789,True
3,7795-CFOCW,Male,0,False,False,45,False,NaN,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,0,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.64999389648438,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
5039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
5040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
5041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
5042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

## **EDA**

In [283]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

* There are a total of `21` columns in the dataset
* Some columns have missing values.

In [284]:
train.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [303]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
tenure,5043.0,32.576641,24.529807,0.000000,9.000000,29.000000,56.000000,72.000000
MonthlyCharges,5043.0,65.090214,30.068133,18.400000,35.775000,70.550003,90.050003,118.650002
TotalCharges,5040.0,2299.825784,2269.468227,18.799999,416.212503,1399.949988,3858.900024,8670.100000

##### Dealing with Missing values

In [286]:
#building a list of columns with nulls
nulls = []

for col in train.columns:
    if train[col].isna().sum() > 0:
        nulls.append(col)
        
nulls

['MultipleLines',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'TotalCharges',
 'Churn']

* There are 9 columns with missing values. We will deal with them one by one. 
* The missing value in the churn column will be dropped.

In [316]:
#dropping the Null in Churn column
(train
 [train['Churn'].isna()]
 )

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2988,6295-OSINB,Male,0,True,False,72,True,True,Fiber optic,True,True,True,False,True,True,Two year,True,Electronic check,109.650002,7880.25,NaN

In [313]:
train[nulls[-1]].isna().sum() #confirming null has been dropped

1

In [288]:
#Checking the nulls in MultipleLines column
(train
 ['PhoneService'] #checking the relation with PhoneService column
 [train[nulls[0]].isna()] #selecting the nulls in Multiple Lines
 .unique()
 )

array(['False'], dtype=object)

* Notice that all missing values in Multiple Lines have PhoneService as false. 
* This is consistent with business understanding that if you don't have a phone service you can't have multiple lines.
* We will fill all missing data with False.

In [289]:
#filling the na with False
train[nulls[0]] = train[nulls[0]].fillna(False)
train[nulls[0]].isna().sum() #confirming nulls have been filled

0

In [290]:
#internet dependent services
train[train[nulls[1]].isna()] #Checking the nulls

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
11,7469-LKBCI,Male,0,False,False,16,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Two year,False,Credit card (automatic),18.950001,326.79998779296875,False
16,8191-XWSZG,Female,0,False,False,52,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,One year,False,Mailed check,20.650000,1022.9500122070312,False
21,1680-VDCWW,Male,0,True,False,12,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,One year,False,Bank transfer (automatic),19.799999,202.25,False
22,1066-JKSGK,Male,0,False,False,1,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-month,False,Mailed check,20.150000,20.149999618530273,True
33,7310-EGVHZ,Male,0,False,False,1,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-month,False,Bank transfer (automatic),20.200001,20.200000762939453,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,6765-MBQNU,Female,0,True,False,26,True,True,No,NaN,NaN,NaN,NaN,NaN,NaN,One year,False,Mailed check,26.000000,684.0499877929688,False
2987,3769-MHZNV,Female,0,True,True,33,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Two year,False,Mailed check,20.100000,670.3499755859375,False
2989,3308-MHOOC,Male,0,False,True,1,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-month,True,Mailed check,19.200001,19.200000762939453,False
2993,2239-CFOUJ,Male,0,True,True,1,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,One year,False,Mailed check,20.400000,20.399999618530273,False
2999,1A1:U3001038-RQOST,Male,0,True,True,19,True,False,No,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-month,False,Mailed check,20.600000,414.95001220703125,False

In [291]:
(train
 ['InternetService'] #checking the relation with InternetService column
 [train[nulls[6]].isna()] #selecting the nulls in Multiple Lines
 .unique()
 )

array(['No'], dtype=object)

* Note that all the columns in `OnlineSecurity`, `OnlineBackup`, `DeviceProtection`, `TechSupport`,`StreamingTV`, `StreamingMovies` are internet services and are dependent on the `InternetService` column. 
* All of them have `651` missing values which gives credence to our assumption.
* All the ones with `No` in the `InternetService` column have been filled with No internet service. This is how we will fill our nulls.

In [292]:
#loop to fill all na in the columns with No internet service
for col in nulls[1:7]:
    if train['InternetService'][train[col].isna()].unique() == 'No': #Condition to check for No in InternetService column
        train[col] = train[col].fillna('No internet service')

In [293]:
#confirming all nulls have been filled
train[nulls[1:7]].isna().sum()

OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [294]:
#viewing the missing values in the Total charges column
train[train[nulls[7]].isna()]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,True,True,0,False,False,DSL,True,False,True,True,True,False,Two year,True,Bank transfer (automatic),52.549999,NaN,False
753,3115-CZMZD,Male,0,False,True,0,True,False,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,False,Mailed check,20.250000,NaN,False
936,5709-LVOEQ,Female,0,True,True,0,True,False,DSL,True,True,True,False,True,True,Two year,False,Mailed check,80.849998,NaN,False
1082,4367-NUYAO,Male,0,True,True,0,True,True,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,False,Mailed check,25.750000,NaN,False
1340,1371-DWPAZ,Female,0,True,True,0,False,False,DSL,True,True,True,True,True,False,Two year,False,Credit card (automatic),56.049999,NaN,False

* The missing total charge values have `0` tenure.
* We will assume it is because the tenure has not reached the 1 month threshold yet and fill them with the Monthly charge.

In [295]:
#Filling the Nulls in Total Charges with MonthlyCharge value
train[nulls[7]]=(train
                 [nulls[7]] #Select the TotalCharges Column
                 .fillna(train
                         ['MonthlyCharges'] #Select the Monthlycharges
                         [train[nulls[7]].isna()] #Filter with the TotalCharges that are null
                         )
                 )
train[nulls[7]].isna().sum() #confirming nulls have been filled

0

In [296]:
#confirming all missing values have been dealt with
train.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               1
dtype: int64

##### Dealing with Datatypes

In [297]:
train.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

The Expected datatypes are:

| **Column** | **Datatype** |
|--------|----------|
| customerID | object |
| gender | category |
| SeniorCitizen | category |
| Partner | category |
| dependents | category |
| tenure | int |
| phoneservice | category |
| multiplelines | category |
| internetservice | category |
| onlniesecurity | category |
| onlinebackup | category |
| deviceprotection | category |
| techsupport | category |
| streamingtv | category |
| streamingmovies | category |
| contract | category |
| paperlessbilling | category |
| paymentmethod | category |
| monthlycharges | float |
| totalcharges | float |
| churn | category |

In [298]:
#list of categorical columns
categorical = ['gender','SeniorCitizen', 'Partner','Dependents','PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']

In [299]:
#converting datatype to category
for col in categorical:
    train[col] = train[col].astype('category')

train.dtypes

customerID            object
gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure                 int64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges          object
Churn               category
dtype: object

In [300]:
#converting totalcharges to numeric
train['TotalCharges'] = pd.to_numeric(train['TotalCharges'], errors='coerce')

In [301]:
#confirming all columns are in expected datatypes
train.dtypes

customerID            object
gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure                 int64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
dtype: object

#### **STATISTICAL ANALYSIS**

In [302]:
train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
customerID,5043,5043,7590-VHVEG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,5043,2,Male,2559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SeniorCitizen,5043.0,2.0,0.0,4224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Partner,5043,4,False,1538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dependents,5043,4,False,2070,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,5043.0,NaN,NaN,NaN,32.576641,24.529807,0.0,9.0,29.0,56.0,72.0
PhoneService,5043,4,True,2731,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MultipleLines,5043,6,False,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InternetService,5043,3,Fiber optic,2248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineSecurity,5043,5,False,1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineBackup,5043,5,False,1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceProtection,5043,5,False,1296,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TechSupport,5043,5,False,1476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingTV,5043,5,False,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingMovies,5043,5,True,1199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contract,5043,3,Month-to-month,2744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaperlessBilling,5043,4,True,1776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,5043,4,Electronic check,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyCharges,5043.0,NaN,NaN,NaN,65.090214,30.068133,18.4,35.775,70.550003,90.050003,118.650002
TotalCharges,5040.0,NaN,NaN,NaN,2299.825784,2269.468227,18.799999,416.212503,1399.949988,3858.900024,8670.1
Churn,5042,4,False,2219,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Univariate Analysis

## **3. FEATURE ENGINEERING**

## **4. MODEL SELECTION AND TRAINING**

## **5. MODEL EVALUATION**

## **6. CONCLUSION**